---
import "../styles/global.css";
import DarkToggle from "../components/DarkToggle.jsx";

const { title = "The Greater Mischief" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="A lovingly crafted gallery of iconic movie rats. Coded with cheddar." />
		<meta name="google-site-verification" content="AsjJ73cTGaCA_GESnpJJbzkxRYXw8hY8-LbLH0lytzA" />
        
        <meta property="og:title" content="The Greater Mischief" />
		<meta property="og:description" content="The Greater Mischief: A lovingly crafted gallery of iconic movie rats. Coded with cheddar."/>
		<meta property="og:type" content="website" />

		<meta property="og:url" content="https://thegreatermischief.netlify.app" />
        
        <title>{title}</title>
	</head>
	<body class="bg-neutral-100 dark:bg-neutral-800">
        <header class="px-20 flex items-center relative w-full text-center py-6 border-b border-neutral-300 dark:border-neutral-600">
            <h1 class="mx-auto dark:text-white uppercase text-4xl font-bold font-mono">{title}</h1>
            <div class="absolute right-6">
                <!-- Compact (emoji-only) toggle on small screens -->
                <div class="block md:hidden">
                    <DarkToggle compact client:load />
                </div>
                
                <!-- Full button on medium and up -->
                <div class="hidden md:block">
                    <DarkToggle client:load />
                </div>
            </div>
        </header>
        <main>
            <slot />  <!-- This is where page content will go -->
        </main>
        <footer class="dark:text-neutral-400 text-sm text-center text-neutral-600 mt-8 mb-8">
            <p> &copy; 2025 - <a class="underline" href="https://michelestassen.netlify.app">Michèle Stassen</a> (ArcticAxi)</p>
        </footer>
	</body>
</html>